<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input 
            type="text" 
            id='name' 
            class="form-control"
            #name>
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input 
            type="number" 
            class="form-control" 
            id='amount'
            #amount>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-1">
          <button 
            class="btn-success m-2" 
            type="submit" 
            (click)="addIngredient($event, name.value, amount.value)"
          >Add</button>
        </div>
        <div class="col-xs-1">
          <button 
            class="btn-primary m-2" 
            type="button"
            (click)="clearIngredient(name, amount)"
          >Clear</button>
        </div>
        
        
      </div>
    </form>
  </div>
</div>